$color-white: #FFF;
$color-transparent-white: rgba(255, 255, 255, 0.5);
$color-transparent: transparent;
$color-black: #000;
$color-necro-yellow: #FFC900;

$font-hairline: "BungeeHairline-Regular";
$font-outline: "BungeeOutline-Regular";
$font-shade: "BungeeShade-Regular";
$font-spice: "BungeeSpice-Regular";
$font-monoton: "Monoton-Regular";
$font-dirt: "RubikDirt-Regular";
$font-glitch: "RubikGlitch-Regular";
$font-iso: "RubikIso-Regular";
$font-honk: "Honk-Regular";
$font-default: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

@font-face {
	font-family: $font-hairline;
	src: url("../fonts/BungeeHairline-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: $font-outline;
	src: url("../fonts/BungeeOutline-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: $font-shade;
	src: url("../fonts/BungeeShade-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: $font-spice;
	src: url("../fonts/BungeeSpice-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: $font-monoton;
	src: url("../fonts/Monoton-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: $font-dirt;
	src: url("../fonts/RubikDirt-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: $font-glitch;
	src: url("../fonts/RubikGlitch-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: $font-iso;
	src: url("../fonts/RubikIso-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: $font-iso;
	src: url("../fonts/RubikIso-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: $font-honk;
	src: url('../fonts/Honk-Regular-VariableFont_MORF,SHLN.ttf');
	font-weight: normal;
	font-style: normal;
}


.honk-font {
	font-family: $font-honk, sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "MORF" 13, "SHLN" 100;
}

@mixin dark() {
	&.dark {
		@content;

		.button {
			&.hollow {
				border: 1px solid $color-necro-yellow;
				color: $color-necro-yellow;
			}
			&:hover {
				background-color: $color-black;
				color: $color-necro-yellow;
			}
			background-color: $color-black;
			color: $color-necro-yellow;
		}
	}
}

@mixin crossBrowser($property, $css...) {
    -webkit-#{$property} : $css;
    -moz-#{$property} : $css;
    -o-#{$property} : $css;
    #{$property} : $css;
}

@mixin formStyles() {
	[type="text"], [type="number"], textarea {
		border: none;
		box-shadow: none;
		background-color: $color-transparent;
		@include crossBrowser(transition, none);
	}
}

.no {
	color: red;
	font-weight: bold;

	&.inverse {
		color: green;
	}
}

.yes {
	color: green;
	font-weight: bold;

	&.inverse {
		color: red;
	}
}

/*
.button {
	background: repeating-linear-gradient(
		-45deg,  
		#000,  
		#000 30px,  
		#FFC900 25px,  
		#FFC900 50px
	);
}
*/

html {
	.dropdown.menu {
		li.is-dropdown-submenu-parent {
			a {
				&::after {
					border-color: $color-black $color-transparent $color-transparent;
				}
			}
			ul {
				li {
					a {
						font-family: $font-default;
					}
				}
			}
		}
	}
	.button {
		&.hollow {
			border: 1px solid $color-necro-yellow;
			color: $color-black;
		}
		&:hover {
			background-color: $color-black;
			color: $color-necro-yellow;
		}
		background-color: $color-necro-yellow;
		color: $color-black;
		font-family: $font-default;
	}

	body {
		background-color: $color-black;
		background-image: url('/img/book-texture.jpg');
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;

		.title-bar {
			background: repeating-linear-gradient(
				-45deg,  
				#000,  
				#000 30px,  
				#FFC900 25px,  
				#FFC900 50px
			);

			.title-bar-left {
				font-size: 20px;
				font-family: $font-shade;
				font-style: italic;
				font-weight: bold;
				background-color: $color-black;
				color: $color-necro-yellow
			}
		}

		.left-content {
			background-color: $color-transparent-white;

			.top_section {
				margin-left: 0;

				.section_title {
					font-family: $font-dirt;
					list-style: none;
					text-transform: uppercase;
					font-size: 20px;
					font-weight: 500;
					letter-spacing: 1px;
					border-bottom: 1px solid $color-necro-yellow;
					margin: 15px 0;
					color: $color-necro-yellow;
					
					a {
						color: $color-necro-yellow;
					}
				}
				.subsection {
					margin-left: 20px;

					a {
						&:hover {
							text-decoration: underline;
						}

						color: $color-black;
						text-decoration: none;
					}
				}
			}
		}
		
		.main-content {
			.right-content {
				min-height: 600px;
				flex-direction: column;
				justify-content: start;

				.header {
					margin-bottom: 30px;

					h3 {
						&.subheader {
							font-family: $font-dirt;
						}
					}
				}

				.right-content-container {
					display: flex;
					flex-direction: column;
					justify-content: center;

					form {
						width: 100%;
					}
				}
			}
		}

		.menu a {
			&.primary {
				color: #1779ba;
			}

			&.secondary {
				color: #767676;
			}

			&.success {
				color: #3adb76;
			}

			&.alert {
				color: #cc4b37;
			}

			&.warning {
				color: #ffae00;
			}
		}

		.form-row {
			display: flex;
		}
		
		.fighter-details {

			#base_cost {
				text-align: right;
			}
		}

		table {
			@include formStyles();

			&.skill-list {
				th.child-content {
					display: flex;
					justify-content: space-between;

					div {
						min-height: 40px;
						display: flex;
						flex-direction: column;
						justify-content: center;

						font-weight: bold;
						text-transform: uppercase;
						letter-spacing: 1px;
					}
				}
			}
			&.fighter-weapon {
				th, td {
					text-align: center;
				}
				
				td {
					padding: 0;

					input {
						text-align: center;
						
						&:focus {
							background-color: $color-transparent;
							border: none;
							@include crossBrowser(transition, none);
							@include crossBrowser(box-shadow, none);
						}
					}

					&.two-stat {
						text-wrap: nowrap;
						input {
							display: inline-block;
							max-width: 44%;
						}
					}
				}
				
				.fighter_basic {
					background-color: light-gray;
				}
			}

			thead {
				@include dark {
					tr {
						&:hover {
							color: $color-white;
							background-color: $color-black;
						}
						color: $color-white;
						background-color: $color-black;

						th {
							font-family: $font-dirt;
						}
					}
				}
			}

			tbody {
				tr {
					td {
						a {
							&:hover {
								text-decoration: underline;
								color: $color-black
							}
							color: $color-black
						}
					}
				}
			}
			
			.head_stat {
				input {
					&::placeholder {
						color: #000;
					}
				}
				background-color: #DEB887;
			}
			
			.xp_stat {
				background-color: #D2691E;
			}
		}

		.accordion {
			.accordion-item {
				.accordion-title {
					color: $color-white;
					background-color: darkgray;
					font-size: 20px;
					font-weight: bold;
				}
			}
		}

		.reveal-overlay {
			.reveal {
				.modal-container {
					padding: 20px 0;
					justify-content: center;

					.trait-editor {
						.cell {
							padding: 5px;

							[type="text"], [type="number"], textarea {
								border: 0.5px solid #000;
							}
						}
					}

					.xp_field {
						 max-width: 80px;
						 margin: 0 auto;
					}

					.skillset {
						padding: 0 10px;
						margin-bottom: 10px;
						
						h5 {
							text-align: center;
							border-bottom: 1px solid lightgray;
							text-transform: uppercase;
							font-weight: 500;
							letter-spacing: 2px;
						}
						ul {
							li {
								list-style: none;
							}
						}
					}
				}
			}
		}

		.footer {
			min-height: 250px;
			color: $color-white;
			background-color: $color-transparent;
		}
	}
}