@import '_settings';

@mixin dark() {
	&.dark {
		@content;
	}
}

.no {
	color: red;
	font-weight: bold;

	&.inverse {
		color: green;
	}
}

.yes {
	color: green;
	font-weight: bold;

	&.inverse {
		color: red;
	}
}

body {
	
	[type="text"] {
		border: none;
		box-shadow: none;
		background-color: transparent;
	}
	
	.main-content {
		.right-content {
			min-height: 600px;

			.right-content-container {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}
	}

	.form-row {
		display: flex;
	}

	table {
		&.fighter-weapon {
			th, td {
				text-align: center;
			}
			
			td {
				&.two-stat {
					text-wrap: nowrap;
					input {
						display: inline-block;
						max-width: 44%;
					}
				}
			}
			
			.fighter_basic {
				background-color: light-gray;
			}
		}

		thead {
			@include dark {
				tr {
					&:hover {
						color: $white;
						background-color: $black;
					}
					color: $white;
					background-color: $black;
				}
			}
		}
		
		.head_stat {
			input
				&::placeholder {
				color: #000;
			}
			background-color: #DEB887;
		}
		
		.xp_stat {
			background-color: #D2691E;
		}
	}

	.left-content {
		background-color: rgb(222, 226, 230);
	}

	.footer {
		min-height: 250px;
		color: $white;
		background-color: $black;
	}
}