$white: #FFF;
$black: #000;

@mixin dark() {
	&.dark {
		@content;
	}
}

@mixin crossBrowser($property, $css...) {
    -webkit-#{$property} : $css;
    -moz-#{$property} : $css;
    -o-#{$property} : $css;
    #{$property} : $css;
}

@mixin formStyles() {
	[type="text"], [type="number"], textarea {
		border: none;
		box-shadow: none;
		background-color: transparent;
		@include crossBrowser(transition, none);
	}
}

.no {
	color: red;
	font-weight: bold;

	&.inverse {
		color: green;
	}
}

.yes {
	color: green;
	font-weight: bold;

	&.inverse {
		color: red;
	}
}

/*
.button {
	background: repeating-linear-gradient(
		-45deg,  
		#000,  
		#000 30px,  
		#FFC900 25px,  
		#FFC900 50px
	);
}
*/

html {
	body {

		.title-bar {
			background: repeating-linear-gradient(
				-45deg,  
				#000,  
				#000 30px,  
				#FFC900 25px,  
				#FFC900 50px
			);

			.title-bar-left {
				font-size: 20px;
				font-weight: bold;
				background-color: #000;
			}
		}

		.left-content {

			.top_section {
				margin-left: 0;

				.section_title {
					list-style: none;
					text-transform: uppercase;
					font-size: 20px;
					font-weight: 500;
					letter-spacing: 1px;
					border-bottom: 1px solid #000;
					margin: 15px 0;
				}
				.subsection {
					margin-left: 20px;
				}
			}
		}
		
		.main-content {
			.right-content {
				min-height: 600px;
				flex-direction: column;
				justify-content: start;

				background-image: url('/img/book-texture.jpg');
				background-position: top;
				background-repeat: no-repeat;
				background-size: cover;

				.header {
					margin-bottom: 30px;
				}

				.right-content-container {
					display: flex;
					flex-direction: column;
					justify-content: center;

					form {
						width: 100%;
					}
				}
			}
		}

		.menu a {
			&.primary {
				color: #1779ba;
			}

			&.secondary {
				color: #767676;
			}

			&.success {
				color: #3adb76;
			}

			&.alert {
				color: #cc4b37;
			}

			&.warning {
				color: #ffae00;
			}
		}

		.form-row {
			display: flex;
		}
		
		.fighter-details {

			#base_cost {
				text-align: right;
			}
		}

		table {
			@include formStyles();

			&.skill-list {
				th.child-content {
					display: flex;
					justify-content: space-between;

					div {
						min-height: 40px;
						display: flex;
						flex-direction: column;
						justify-content: center;

						font-weight: bold;
						text-transform: uppercase;
						letter-spacing: 1px;
					}
				}
			}
			&.fighter-weapon {
				th, td {
					text-align: center;
				}
				
				td {
					padding: 0;

					input {
						text-align: center;
						
						&:focus {
							background-color: transparent;
							border: none;
							@include crossBrowser(transition, none);
							@include crossBrowser(box-shadow, none);
						}
					}

					&.two-stat {
						text-wrap: nowrap;
						input {
							display: inline-block;
							max-width: 44%;
						}
					}
				}
				
				.fighter_basic {
					background-color: light-gray;
				}
			}

			thead {
				@include dark {
					tr {
						&:hover {
							color: $white;
							background-color: $black;
						}
						color: $white;
						background-color: $black;
					}
				}
			}
			
			.head_stat {
				input {
					&::placeholder {
						color: #000;
					}
				}
				background-color: #DEB887;
			}
			
			.xp_stat {
				background-color: #D2691E;
			}
		}

		.accordion {
			.accordion-item {
				.accordion-title {
					color: $white;
					background-color: darkgray;
					font-size: 20px;
					font-weight: bold;
				}
			}
		}

		.reveal-overlay {
			.reveal {
				.modal-container {
					padding: 20px 0;
					justify-content: center;

					.trait-editor {
						.cell {
							padding: 5px;

							[type="text"], [type="number"], textarea {
								border: 0.5px solid #000;
							}
						}
					}

					.xp_field {
						 max-width: 80px;
						 margin: 0 auto;
					}

					.skillset {
						padding: 0 10px;
						margin-bottom: 10px;
						
						h5 {
							text-align: center;
							border-bottom: 1px solid lightgray;
							text-transform: uppercase;
							font-weight: 500;
							letter-spacing: 2px;
						}
						ul {
							li {
								list-style: none;
							}
						}
					}
				}
			}
		}

		.left-content {
			background-color: rgb(222, 226, 230);
		}

		.footer {
			min-height: 250px;
			color: $white;
			background-color: $black;
		}
	}
}